<div class="team-message-container">
  <% if current_user.id == message.user_id %>
    <div class="current-user-message">
      <div class="team-message team-message-background-color">
        <%= message.message %>
      </div>
    </div>
  <% else %>
    <div class="team-users-message">
      <div class="team-users-container text-center">
        <div class="team-user-icon">
          <%= image_tag message.user.icon.url, size: "70x70", class: "img-circle img-fluid" %>
        </div>
        <div class="team-user-name">
          <%= message.user.nickname %>
        </div>
      </div>
      <div class="team-user-message team-message">
        <%= message.message %>
      </div>
    </div>
  <% end %>
</div>
