<% users = team.users %>
<div class="team-cell">
  <%= link_to team_path(team) do %>
    <tr>
      <td style="display: flex;">
        <%= render partial: "user", collection: users %>
      </td>
      <td style="color: grey; vertical-align: middle;">
        <%= team.show_last_team_message %>
      </td>
    </tr>
  <% end %>
</div>
