<% users = team.users %>
<div class="team-cell">
  <%= link_to team_path(team) do %>
    <table class="table">
      <tr>
        <td style="display: flex;">
          <%= render partial: "user", collection: users %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
