<p>
  <%= image_tag @deck.deck_list.url %>
</p>
<p>
  <%= simple_format (h @deck.content) %>
</p>
<p>
  <%= link_to "編集", edit_deck_list_path(@deck) %>
  <%= link_to "削除", deck_list_path, method: :delete, data: { confirm: "削除しますか？" } %>
</p>
