<div class="page-top" style="margin-bottom: 20px;">
  <h3 class="text-center">募集一覧</h3>
  <%= link_to "募集を投稿する", new_recruitment_path %>
  <%= link_to "チームを作成する", new_team_path %>
</div>
<div class="row row-cols-3">
  <%= render partial: "recruitment", collection: @recruitments %>
</div>
