<tr>
  <td width="40%" class="text-center">
    <%= link_to user_path(user) do %>
      <div class="user-image">
        <%= image_tag user.icon.url, :size => "100x100", class: "img-fluid img-circle" %>
      </div>
      <div class="user-name">
        <%= user.nickname %>
      </div>
    <% end %>
  </td>
  <td width="60%" class="align-middle">
    <%= simple_format (h user.introduction) %>
  </td>
</tr>
