<div class="user-content">
  <%= link_to user_path(user) do %>
    <div class="user-icon">
      <%= image_tag user.icon.url, :size => "100x100" %>
      <%= user.nickname %>
    </div>
    <div class="user-introduction">
      <%= simple_format (h user.introduction) %>
    </div>
  <% end %>
</div>
