<% if direct_message.user == current_user %>
  <div class="current-user-message">
    <p class="direct-message background">
      <%= direct_message.message %>
    </p>
    <%# link_to "削除", direct_message_path(direct_message), method: :patch, data: { confirm: "削除しますか？" }, class: "btn btn-sm btn-danger" %>
  </div>
<% else %>
  <div class="user-message message">
    <p class="direct-message">
      <%= direct_message.message %>
    </p>
  </div>
<% end %>
