<div class="room-container">
  <% anotherUserRoomKey = room.room_keys.where.not(user_id: current_user.id) %>
  <% anotherUser = User.find(anotherUserRoomKey.first[:user_id]) %>
  <tr class="text-center">
    <td width="30%">
      <%= link_to room_path(room) do %>
        <%= image_tag anotherUser.icon.url, size: "100x100" %>
        <%= anotherUser.nickname  %>
      <% end %>
    </td>
    <td width="70%" class="last-message align-middle">
      <%= room.show_last_direct_message %>
    </td>
  </tr>
</div>
