<div class="room-index-container margin">
  <h3 class="text-center">メッセージ</h3>
  <% if @rooms.exists? %>
    <table class="table table-borderless">
      <%= render partial: "room", collection: @rooms %>
    </table>
  <% else %>
    <div class="button text-center">
      <%= link_to "ダイレクトメッセージをはじめる", users_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= paginate @rooms %>
