<div class="room-index-container">
  <% if @rooms.exists? %>
    <table class="table">
      <%= render partial: "room", collection: @rooms %>
    </table>
  <% else %>
    <%= link_to "ダイレクトメッセージをはじめましょう。", users_path %>
  <% end %>
</div>
<%= paginate @rooms %>
