<div class="room-container">
  <div class="room-top text-center">
    <%= image_tag @anotherUser.icon.url, size: "100x100", class: "img-fluid img-circle" %>
    <%= @anotherUser.nickname %> さん
  </div>
  <hr>
  <div class="direct-message-container">
    <% if @direct_messages.exists? %>
      <%= render partial: "direct_message", collection: @direct_messages %>
    <% else %>
      <div class="text-center">まだメッセージはありません。</div>
    <% end %>
  </div>
  <hr>
  <div class="direct-message-form">
    <%= render "form" %>
  </div>
</div>
