/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

main {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.base-container {
  margin: 0 auto;
}

// ヘッダー

.header-font {
  font-size: 1.2rem;
}

// ロゴのサイズ
.app-logo {
  width: 14rem;
  height: 10rem;
}

// ユーザーアイコン

.icon-size {
  width: 6rem;
  height: 6rem;
}

// 通知機能のアイコン
.notification-icon {
  color: red;
  position: absolute;
  z-index: 10;
}

// padding
.padding-top-lg {
  padding-top: 10rem;
}

.padding-top-md {
  padding-top: 5rem;
}

.padding-top-sm {
  padding-top: 3rem;
}

.mw-sm {
  max-width: 576px;
}

.mw-md {
  max-width: 768px;
}

.mw-lg {
  max-width: 992px;
}

.mw-xl {
  max-width: 1200px;
}

.message {
  width: 100%;
}

// 一覧表示のユーザー名のCSS
.index-user-nickname {
  font-size: 0.9rem;
}

// 各一覧ページのタイトルに対するCSS
.page-title {
  margin: 3rem 0;
}

// ダイレクトメッセージ機能、チームメッセージ機能
.message-submit {
  margin-top: 0.5rem;
}

.current-user-message {
  margin: 0.5rem 0rem 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.last-message {
  color: grey;
}

.no-message {
  margin: 3rem 0;
}

// ページネーション

.pagination {
  justify-content: center;
}

// フッター

.footer-container {
  height: 4rem;
  background-color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
