// Place all the styles related to the deck_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 詳細表示ページ

.deck-status {
  margin: 1.5rem;
}

.button {
  width: 25%;
  margin-bottom: 1rem;
}

.deck-free-space {
  margin: 1.5rem;
  padding: 1rem 1.5rem 0 1.5rem;
  border: 1px solid;
  border-radius: 10px;
  text-align: left;
}

// 編集ページ

.edit-margin {
  margin: 1.5rem 1rem 0 1rem;
}

.free-content {
}

.free-content-label {
  text-align: left;
}

.deck-status-button {
}

.radio-button {
  margin-left: 1rem;
}

.button-label {
  font-size: 1.1rem;
}

.edit-button {
  width: 50%;
}

.text-area-height {
  height: 3rem;
}
