// Place all the styles related to the recruitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 詳細ページ

.recruitment-show-container {
  padding: 2rem 0;
}

.no-entry {
  margin-top: 5rem;
}

.recruitment-introduction {
  display: inline-block;
  min-height: 7rem;
}
