// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 一覧表示ページ

.last-message {
  color: grey;
}

// 詳細ページ

.room-submit {
  margin-top: 0.5rem;
}

.current-user-message {
  margin: 0.5rem 0rem 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.user-message {
  margin-left: 5rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.direct-message {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 10px;
}

.direct-message-background-color {
  background-color: #afeeee;
  margin-right: 5rem;
}
