// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 詳細ページ
.team-show-container {
  padding-top: 2rem;
}

// 参加中のユーザー
.linked-team-member {
  margin-right: 1rem;
}

.team-members-container {
  display: flex;
  justify-content: center;
}

// 招待機能
.invitation {
  margin: 1.5rem 0;
}

.invitation-container {
  margin-top: 0.5rem;
}

// チームメッセージ
.team-message {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 10px;
}

.team-messages-container {
  margin: 0.5rem 0;
}

.team-message-background-color {
  margin-right: 4rem;
  background-color: #98fb98;
}

.team-users-container {
  margin-left: 4rem;
}

.team-users-message {
  display: flex;
  justify-content: flex-start;
}

.team-user-message {
  margin: 2rem 0 2rem 1rem;
}

.team-user-name {
  font-size: 0.9rem;
}

.team-submit {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .team-message-background-color {
    background-color: #98fb98;
    margin-right: 1rem;
  }
  .team-users-container {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .team-message-background-color {
    background-color: #98fb98;
    margin-right: 0.1rem;
  }
  .team-users-container {
    margin-left: 0.1rem;
  }
}
