// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-margin {
  margin: 1rem 0;
}

// 詳細ページ

.margin {
  margin: 1.5rem 0 1.5rem 0;
}

.user-introduction {
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 0 1.5rem 0;
}

.button {
  margin: 0 auto;
  padding-top: 3rem;
}

// 編集ページ

.user-edit-page {
  padding-top: 1.5rem;
}
