<div class="footer-container text-center">
  <span class="footer-text align-middle">
    Copyright © sekiguchi0215, All Rights Reserved
    <%= link_to admin_root_path do %>
      .
    <% end %>
  </span>
</div>
